body{
    background-color : #EEEEEE;
}

.login input{
    width : 80%!important ;
    margin-left : auto;
}

.mainNav li{
    padding-left:50px;
    padding-right:50px;
}
.mainNav li :hover{
    background-color: #61c6df;
}

.vipNav li{
    padding-left:30px;
    padding-right:30px;
}
.vipNav li :hover{
    background-color: #61c6df;
}

footer img{
    display : inline-block;
    margin: 15px;
    width : 20%;
}

.geoloc .embed-responsive{
    height : 230px;
}
.logo{
    width : 50px;
    height : 50px;
}

.searchBar{
    width: 20% !important;
}